*{
  --color-1: #bbdfff;
  --presentation-height: 80vh; 
  --width-video: 36vw;
  --height-video: calc(var(--width-video)*360/640);
}

body{
  margin: 0;
  font-size: 14px;
  background-color: whitesmoke;
}

#player{
  /* display: none; */
  --width-video: 36vw;
  height: var(--height-video);
  width: var(--width-video);
  position: absolute;
  right: 20px;
  top: 30px;
  /* top: 40%; */
  /* transform: translateY(-50%); */
  /* box-shadow: 2px 2px 6px 0 #8b8b8b; */
  /* border: solid red 1px; */
}

#description{
  /* display: none; */
  background-color: white;
  height: calc(var(--presentation-height) - var(--height-video) - 20px) ;
  width: var(--width-video);
  position: absolute;
  right: 20px;
  top: calc(30px + var(--presentation-height));
  transform: translateY(-100%);
  /* top: 40%; */
  /* transform: translateY(-50%); */
  /* box-shadow: 2px 2px 6px 0 #8b8b8b; */
  /* border: solid red; */
  box-shadow: 2px 2px 6px 0 #8b8b8b;
}

#presentation{
  height: var(--presentation-height);
  width: 60vw;
  position: absolute;
  /* right: 20px; */
  left: 20px;
  top: 30px;
  /* top: 20px; */
  /* bottom: 70px; */
  /* left: 50%; */
  /* top: 45%; */
  /* transform: translateY(-50%); */
  /* transform: translateY(-50%)  translateX(-50%); */
  box-shadow: 2px 2px 6px 0 #8b8b8b;
}

#footer{
  text-align: center;
  position: fixed;
  bottom: 10px;
  height: 70px;
  width: 100%;
  /* padding: 10px; */
  /* background-color: var(--color-1); */
  background-color: #111;
  color: #f5f5f5;
  /* box-shadow: 0 0px 12px 0 #8b8b8b; */
}

.footer-block{
  margin: 20px;
  float: left;
  font-weight: medium;
}

.footer-block.separator{
  height: 50px;
  width: 2px;
  margin-top: 10px;
  background-color: #f5f5f5;
}

#lovePato{
  font-size: medium;
  float: right;
  padding: 0 20px;
}

#footer a{
  color: #f5f5f5; 
  padding: 7px;
  border-radius: 5px;
  text-decoration: none;
  /* transform: scale(1.0); */
  transition: all 0.5s;
}

#footer a:hover{
  background-color: #f5f5f5;
  color: #111;
  /* font-weight: bold; */
}
